@model DataBase.Entities.Car;

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Car Detail Information</h2>
            <p><strong>Brand:</strong> @Model.Brand.Name</p>
            <p><strong>Model:</strong> @Model.Model</p>
            <p><strong>Color:</strong> @Model.Color</p>
            <p><strong>Release Year:</strong> @Model.ReleaseYear</p>
            <p><strong>Price:</strong> <span class="badge bg-primary">@Model.Price$</span></p>
            <p><strong>Seller:</strong> @Model.User.UserName</p>
            <p class="card-text"><strong>Run:</strong> @Model.Run thousand km</p>
            <p><strong>Owners number:</strong> @Model.OwnersNumber</p>
            @if (@ViewBag.ReturnUrl == null) 
            {
                <a asp-action="Index" class="btn btn-dark">Back</a>
            }
            else
            {
                <a href="@ViewBag.ReturnUrl" class="btn btn-dark">Back</a>
            }
        </div>
        <div class="col-md-6">
            <img src="@Model.ImagePath" class="img-fluid" alt="Car Image">
        </div>
    </div>
</div>


